*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0 25vw;
    font-family: 'Inter', sans-serif;
}
section{
    margin: .625rem 0;
}
div{
    margin: .30rem 0;
}
h5{
    color: #a8a8a8;
}
img{
    border-radius: 100px;
    max-height: 15vh;
}
h4{
    font-size: .91625rem;
}
p, ul li{
    font-size: .875rem;
}
ul{
    padding-left: 1.2rem;
}
.d-flex{
    display: flex;
}
.text-center{
    text-align: center;
}
.justify-content-center{
    justify-content: center;
}
.container-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}